* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#random-number {
    display: block;
}

section {
    margin-top: 300px;
}

.flx {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container,
#signin-section {
    width: 50%;
    margin: auto;
    flex-direction: column;
}

#user-email-input,
#user-sign-in-input {
    margin: 50px 0;
    font-size: 3rem;
}

label {
    margin-top: 50px;
    font-size: 3rem;
}

#submit,
#signin {
    padding: 10px 20px;
    font-size: 3rem;
    cursor: pointer;
}

#message {
    margin-top: 20px;
    font-size: 2rem;
}

#play-button {
    margin-top: 20px;
    background-color: red;
    color: white;
    padding: 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 3rem;
}

















/* Dice Game */


.dice {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 200px;
}

.dice1 {
    background-image: url(../img/1.png);
    background-size: cover;
}

.dice2 {
    background-image: url(../img/2.png);
    background-size: cover;
}

.dice3 {
    background-image: url(../img/3.png);
    background-size: cover;
}

.dice4 {
    background-image: url(../img/4.png);
    background-size: cover;
}

.dice5 {
    background-image: url(../img/5.png);
    background-size: cover;
}

.dice6 {
    background-image: url(../img/6.png);
    background-size: cover;
}

.hidden {
    display: none;
}

