* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#index {
    background-color: rgb(245, 239, 231);
}

#random-number {
    display: block;
}

section {
    padding-top: 300px;
    
}

.flx {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container,
#signin-section {
    width: 50%;
    margin: auto;
    flex-direction: column;
}

#user-email-input,
#user-sign-in-input {
    margin: 50px 0;
    font-size: 3rem;
}

label {
    margin-top: 50px;
    font-size: 3rem;
}

#submit,
#signin {
    padding: 10px 20px;
    font-size: 3rem;
    cursor: pointer;
}

#message {
    margin-top: 20px;
    font-size: 2rem;
}

#play-button {
    margin-top: 20px;
    background-color: red;
    color: white;
    padding: 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 3rem;
}

.hidden {
    display: none;
}



/* Dice Game */

#random-number {
    margin: 20px auto;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 3rem;
    text-align: center;
    cursor: pointer;
}

#dice-container {
    width: 70%;
    margin: auto;    
}

.dice-wrapper {
    width: 80%;
    margin: auto;
}

#user-number,
#ai-number {
    margin: 0 225px;
    display: inline-block;
    font-size: 2rem;
}

#winner {
    text-align: center;
    font-size: 3rem;
    margin-top: 50px;
}

.winner-color {
    color: green;
}

.loser-color {
    color: red;
}

.dice {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 100px 200px;
    background-size: cover;
}

.dice1 {
    background-image: url(../img/1.png);
}

.dice2 {
    background-image: url(../img/2.png);
}

.dice3 {
    background-image: url(../img/3.png);
}

.dice4 {
    background-image: url(../img/4.png);
}

.dice5 {
    background-image: url(../img/5.png);
}

.dice6 {
    background-image: url(../img/6.png);
}
